/* Side Menu */

#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 300px;
  height: 100%;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  transform: translateX(100%);
  background: $primary;
  border-left: 1px solid fade-out($white, 0.9);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: $white;
  padding: 15px;
  text-align: right;
}
#match-number {
	padding-left: 5px;
}
.sidebar-nav li.sidebar-nav-item a table {
  text-align: center !important;
  align-items: center!important;
  vertical-align: middle;
  width: 100%;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, .2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: fade-out($gray-800, .9);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a {
  color: $white;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#sidebar-wrapper.active {
  right: 300px;
  width: 300px;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;

  width: 50px;
  height: 50px;

  text-align: center;

  color: $white;
  background: fade-out($gray-800, .5);

  line-height: 50px;

  z-index: 999;
  &:focus,
  &:hover {
    color: $white;
  }
  &:hover {
    background: $gray-800;
  }
  &.active {
    // background-color: $white;
    // color: $gray-900;
  }
}


.menu-toggle {
  position: fixed;
  right: 15px;
  bottom: 15px;

  width: 50px;
  height: 50px;

  text-align: center;

  color: $white;
  background: fade-out($gray-800, .5);

  line-height: 50px;

  z-index: 999;
  &:focus,
  &:hover {
    color: $white;
  }
  &:hover {
    background: $gray-800;
  }
  &.active {
    // background-color: $white;
    // color: $gray-900;
  }
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
	
}
.popup {
	-webkit-animation: fadeOut 1s;
    animation: fadeOut 1s
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
@-webkit-keyframes fadeOut {
    from {opacity: 1;} 
    to {opacity: 0;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity:0 ;}
}
table {
  text-align: center !important;
  width: 100%;
}


